<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/TimetableCreatorView.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>build Timetable creating interface</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>13</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>12</string>
					<key>Timestamp</key>
					<string>785295313.148743</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Shared/Courses_vDef.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//MARK: - Old Courses
</string>
				<key>leading</key>
				<string>

</string>
				<key>trailing</key>
				<string>/*
Define all courses for user's timetable
 
</string>
			</dict>
			<key>title</key>
			<string>To be discarded</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>28</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>27</string>
					<key>Timestamp</key>
					<string>784875330.02619</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/LocalData.swift</string>
					</dict>
				</dict>
			</dict>
			<key>is-complete</key>
			<true/>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>		self.nextCourse = now[1]
</string>
				<key>leading</key>
				<string>		let now = getCurrentClass2(date: .now, timetable: chaos)
		self.currentCourse = now[0]
</string>
				<key>trailing</key>
				<string>		self.timetables = [chaos]
		self.storage = Storage()
		self.timetable = chaos //[_][self.ActiveTimetable]
</string>
			</dict>
			<key>title</key>
			<string>Use empty Timetable instead</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>25</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>24</string>
					<key>Timestamp</key>
					<string>785113020.796378</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/LocalData.swift</string>
					</dict>
				</dict>
			</dict>
			<key>is-complete</key>
			<true/>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>		print("LocalData init")
</string>
				<key>leading</key>
				<string>
	init() {
</string>
				<key>trailing</key>
				<string>		let now = getCurrentClass2(date: .now, timetable: chaos)
		self.currentCourse = now[0]
		self.nextCourse = now[1]
</string>
			</dict>
			<key>title</key>
			<string>Need to convert to 2nd protocol</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>25</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>24</string>
					<key>Timestamp</key>
					<string>785113020.796414</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/LocalData.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>		print("LocalData init")
</string>
				<key>leading</key>
				<string>
	init() {
</string>
				<key>trailing</key>
				<string>		let now = getCurrentClass2(date: .now, timetable: chaos)
		self.currentCourse = now[0]
		self.nextCourse = now[1]
</string>
			</dict>
			<key>title</key>
			<string>Got to put together a noSchool for lack of timetables.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>43</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>42</string>
					<key>Timestamp</key>
					<string>786592037.904641</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Shared/FunctionsEnumsDataTypes.swift</string>
					</dict>
				</dict>
			</dict>
			<key>is-complete</key>
			<true/>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>	let type: CourseType?
</string>
				<key>leading</key>
				<string>	let listIcon: String
	let joke: String?
</string>
				<key>trailing</key>
				<string>
	init(_ name: String, icon: String, room: String? = nil, colour: String,
		 listName: String? = nil, listIcon: String? = nil,
</string>
			</dict>
			<key>title</key>
			<string>Each instance of Course (in the timetable) needs a unique ID (based on its location in the timetable) to differ it from other instances of the same course in the one day</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>99</string>
					<key>StartingColumnNumber</key>
					<string>5</string>
					<key>StartingLineNumber</key>
					<string>98</string>
					<key>Timestamp</key>
					<string>786166359.429812</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber Watch App/Views/ListView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>
        self.courses = timetable.courses
    }</string>
				<key>trailing</key>
				<string>    
    var body: some View {
        let dayKeys = Array(day.keys).sorted(by: &lt;).dropLast()
</string>
			</dict>
			<key>title</key>
			<string>Migrate to new protocols</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>11</string>
					<key>StartingColumnNumber</key>
					<string>27</string>
					<key>StartingLineNumber</key>
					<string>10</string>
					<key>Timestamp</key>
					<string>786576126.451587</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/TimetableView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>

struct DisplayEntry: View {</string>
				<key>trailing</key>
				<string>	
	let listedCourse: Course2
	let timeslotIdentifier: Timeslot
</string>
			</dict>
			<key>title</key>
			<string>Can DisplayEntry be nested inside TimetableView?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>122</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>121</string>
					<key>Timestamp</key>
					<string>786576602.226622</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/TimetableView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>                            .listRowBackground(bG)
</string>
				<key>leading</key>
				<string>                        let bG: Colour? = (data.currentTime == timeslot) ? Colour(entry.listedCourse.colour) : nil
                        entry
</string>
				<key>trailing</key>
				<string>				}
			}
            .toolbar {
</string>
			</dict>
			<key>title</key>
			<string>Need to improve colour</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>134</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>133</string>
					<key>Timestamp</key>
					<string>786592037.904673</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Shared/FunctionsEnumsDataTypes.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>		case nil: "Not yet, anyway..."
</string>
				<key>leading</key>
				<string>		case .afterClass: "School's out for today!"
	//	case .freePeriod: "No class right now"
</string>
				<key>trailing</key>
				<string>	}
	let name: String = switch key {
	//	case .freePeriod: "Free Period"
</string>
			</dict>
			<key>title</key>
			<string>Do I need case nil or is this covered by default: ?</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>190</string>
					<key>StartingColumnNumber</key>
					<string>18</string>
					<key>StartingLineNumber</key>
					<string>189</string>
					<key>Timestamp</key>
					<string>786592048.466591</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Shared/FunctionsEnumsDataTypes.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>

//MARK: Conversion</string>
				<key>trailing</key>
				<string>
enum ConversionError: Error {
	case noParameters
</string>
			</dict>
			<key>title</key>
			<string>I can create custom inits in both Course and Course2 to do this automatically</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
