<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>25</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>24</string>
					<key>Timestamp</key>
					<string>785113020.796414</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/LocalData.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>		print("LocalData init")
</string>
				<key>leading</key>
				<string>
	init() {
</string>
				<key>trailing</key>
				<string>		let now = getCurrentClass2(date: .now, timetable: chaos)
		self.currentCourse = now[0]
		self.nextCourse = now[1]
</string>
			</dict>
			<key>title</key>
			<string>Got to put together a noSchool for lack of timetables.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>990</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>989</string>
					<key>Timestamp</key>
					<string>794202788.162411</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/Timetable Creating-Editing/Times_Editor.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>struct TimesMapping: View {
</string>
				<key>leading</key>
				<string>//MARK: Public access mapping editor
///Edit the structure of each week.
</string>
				<key>trailing</key>
				<string>
	@Environment(\.dismiss) var dismiss

</string>
			</dict>
			<key>title</key>
			<string>PoLAUNCH 1week/2week timetable options to ultimately go here; add methods to time-map weeks differently</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>164</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>163</string>
					<key>Timestamp</key>
					<string>793328977.4679331</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Shared/Models/Timetable.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>		var monday, tuesday, wednesday, thursday, friday: [ UUID: Times.Period.Contents ]
</string>
				<key>leading</key>
				<string>	struct TimetabledWeek: Codable {

</string>
				<key>trailing</key>
				<string>
		subscript(index: Weekday) -&gt; [ UUID: Times.Period.Contents ]? {
			switch index {
</string>
			</dict>
			<key>title</key>
			<string>PRIORITY Make Contents optional, default unwrap to free period</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>28</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>27</string>
					<key>Timestamp</key>
					<string>792384366.51436</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/Timetable Creating-Editing/Courses_Editor.swift</string>
					</dict>
				</dict>
			</dict>
			<key>is-complete</key>
			<true/>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>					Button(symbol, systemImage: symbol) {
</string>
				<key>leading</key>
				<string>			) {
				ForEach(sfsymbols, id: \.self) { symbol in
</string>
				<key>trailing</key>
				<string>						course.icon = symbol
						DispatchQueue.main.asyncAfter(deadline: .now() + 0.1, execute: {dismiss()} )

</string>
			</dict>
			<key>title</key>
			<string>TODO: Button triggered if scroll started&amp;ended on it</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>169</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>168</string>
					<key>Timestamp</key>
					<string>794881136.108544</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Shared/Gills_Timetable.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>			   UUID():	Times.Variant("wed",		variant: [
</string>
				<key>leading</key>
				<string>				   tue_SBU: Times.Period ("SBU",	startTime: 1510,	duration:110)
			   ]),
</string>
				<key>trailing</key>
				<string>				   wed_P1: Times.Period ("1",		startTime: 0900,	duration: 60),
				   wed_P2: Times.Period ("2",		startTime: 1000,	duration: 50),
				   wed_YA: Times.Period("YA",		startTime: 1050,	duration: 10),// fix below
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
