<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/TimetableCreatorView.swift</string>
					</dict>
				</dict>
				<key>type</key>
				<string>DVTDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>build Timetable creating interface</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>12</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>11</string>
					<key>Timestamp</key>
					<string>784158070.416074</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/LocalData.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>class LocalData: ObservableObject {
</string>
				<key>leading</key>
				<string>
///The local equivalent of `GlobalData`. NOTE: iOS DATA IS THE ROOT SOURCE OF TRUTH FOR TIMETABER'S STORAGE.
</string>
				<key>trailing</key>
				<string>	static let shared = LocalData()
	@Published var currentCourse: Course  //  the current timetabled class in session.
	@Published var nextCourse: Course     //  the next timetabled class in session
</string>
			</dict>
			<key>title</key>
			<string>Create local storage containers for each device; watch pings phone (SoT) to update timetable.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>13</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>12</string>
					<key>Timestamp</key>
					<string>785295313.148743</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Shared/Courses_vDef.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>//MARK: - Old Courses
</string>
				<key>leading</key>
				<string>

</string>
				<key>trailing</key>
				<string>/*
Define all courses for user's timetable
 
</string>
			</dict>
			<key>title</key>
			<string>To be discarded</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>children</key>
			<array>
				<dict>
					<key>destination</key>
					<dict>
						<key>location-parameters</key>
						<dict>
							<key>EndingColumnNumber</key>
							<string>0</string>
							<key>EndingLineNumber</key>
							<string>71</string>
							<key>StartingColumnNumber</key>
							<string>0</string>
							<key>StartingLineNumber</key>
							<string>70</string>
							<key>Timestamp</key>
							<string>785193314.503866</string>
						</dict>
						<key>rebasable-url</key>
						<dict>
							<key>base</key>
							<string>workspace</string>
							<key>payload</key>
							<dict>
								<key>relative-path</key>
								<string>Shared/StorageManager.swift</string>
							</dict>
						</dict>
					</dict>
					<key>text-context</key>
					<dict>
						<key>focused</key>
						<string>func reload() -&gt; Void {
</string>
						<key>leading</key>
						<string>}

</string>
						<key>trailing</key>
						<string>
    LocalData.shared.currentCourse = getCurrentClass(date: .now)[0]
    LocalData.shared.nextCourse = getCurrentClass(date: .now)[1]
</string>
					</dict>
					<key>title</key>
					<string>Is a Void return really neccecary here?</string>
					<key>type</key>
					<string>bookmark</string>
				</dict>
			</array>
			<key>title</key>
			<string>Later</string>
			<key>type</key>
			<string>group</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>30</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>29</string>
					<key>Timestamp</key>
					<string>784875330.026159</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/LocalData.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>		self.storage = Storage()
</string>
				<key>leading</key>
				<string>		self.nextCourse = now[1]
		self.timetables = [chaos]
</string>
				<key>trailing</key>
				<string>		self.timetable = chaos //[_][self.ActiveTimetable]
	}
}
</string>
			</dict>
			<key>title</key>
			<string>Can't do this (Index out of range)</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>28</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>27</string>
					<key>Timestamp</key>
					<string>784875330.02619</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/LocalData.swift</string>
					</dict>
				</dict>
			</dict>
			<key>is-complete</key>
			<true/>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>		self.nextCourse = now[1]
</string>
				<key>leading</key>
				<string>		let now = getCurrentClass2(date: .now, timetable: chaos)
		self.currentCourse = now[0]
</string>
				<key>trailing</key>
				<string>		self.timetables = [chaos]
		self.storage = Storage()
		self.timetable = chaos //[_][self.ActiveTimetable]
</string>
			</dict>
			<key>title</key>
			<string>Use empty Timetable instead</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>25</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>24</string>
					<key>Timestamp</key>
					<string>785113020.796378</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/LocalData.swift</string>
					</dict>
				</dict>
			</dict>
			<key>is-complete</key>
			<true/>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>		print("LocalData init")
</string>
				<key>leading</key>
				<string>
	init() {
</string>
				<key>trailing</key>
				<string>		let now = getCurrentClass2(date: .now, timetable: chaos)
		self.currentCourse = now[0]
		self.nextCourse = now[1]
</string>
			</dict>
			<key>title</key>
			<string>Need to convert to 2nd protocol</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>25</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>24</string>
					<key>Timestamp</key>
					<string>785113020.796414</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber/LocalData.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>		print("LocalData init")
</string>
				<key>leading</key>
				<string>
	init() {
</string>
				<key>trailing</key>
				<string>		let now = getCurrentClass2(date: .now, timetable: chaos)
		self.currentCourse = now[0]
		self.nextCourse = now[1]
</string>
			</dict>
			<key>title</key>
			<string>Got to put together a noSchool for lack of timetables.</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>38</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>37</string>
					<key>Timestamp</key>
					<string>786006231.199154</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Shared/FunctionsEnumsDataTypes.swift</string>
					</dict>
				</dict>
			</dict>
			<key>is-complete</key>
			<true/>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>	let type: CourseType?
</string>
				<key>leading</key>
				<string>	let listIcon: String
	let joke: String?
</string>
				<key>trailing</key>
				<string>
	init(_ name: String, icon: String, room: String? = nil, colour: String,
		 listName: String? = nil, listIcon: String? = nil,
</string>
			</dict>
			<key>title</key>
			<string>Each instance of Course (in the timetable) needs a unique ID (based on its location in the timetable) to differ it from other instances of the same course in the one day</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>99</string>
					<key>StartingColumnNumber</key>
					<string>38</string>
					<key>StartingLineNumber</key>
					<string>98</string>
					<key>Timestamp</key>
					<string>785298051.244526</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Timetaber Watch App/Views/ListView.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>        if data.termRunningGB &amp;&amp; weekdayNumber(.now) &gt; 1 &amp;&amp; weekdayNumber(.now) &lt; 7 {
            
            let day = getTimetableDay(</string>
				<key>trailing</key>
				<string>                isWeekA:
                    getIfWeekIsA_FromDateAndGhost(
                        originDate: .now,
</string>
			</dict>
			<key>title</key>
			<string>Migrate to new protocols</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
